.border {
  border: 1px solid #000;
}

.Authorization-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.sign-container {
  display: flex;
  border-radius: 10px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px 70px;
  background-color: #fff;
}

.login-container h2 {
  margin-bottom: 10px;
}

.login-container p {
  font-size: 14px;
}

.login-container input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-container button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}

.login-container div {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  gap: 10px;
}

.login-container div label {
  font-size: 14px;
}

.register-image {
  display: flex;
  width: 100%;
  height: 80vh;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.login-container select {
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  color: #999;
}

.login-container select:focus {
  outline: none;
}

@media (max-width: 768px) {
  .sign-container {
    flex-direction: column;
  }

  .register-image {
    display: none;
  }

  .login-container {
    padding: 20px;
  }
}