.dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 20px;
}

.column {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  margin: 10px 0;
}

.user .count-badge {
  position: absolute;
  top: 0px;
  left: 34%;
  background-color: yellow;
  color: #333;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-details {
  display: flex;
  flex-direction: column;

}

.user-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.border-bottom{
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.user-details p{
  margin: 0;
  font-size: 12px;
}

.user-details h2 {
  margin: 0;
  font-size: 42px;
}


.row-layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.row-item {
  display: contents;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.row-item > div {
  padding: 0 10px;
}

.plain-input {
  border: none;
  background: none;
  color: #333;
  font-size: 16px;
  width: 100%;
}

.highlighted-input {
  border: 1px solid #007bff;
  background: #e7f3ff;
  color: #333;
  font-size: 16px;
  width: 100%;
}

.plain-input:focus,
.highlighted-input:focus {
  outline: none;
}

.row-item button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.row-item button:hover {
  background-color: #ddd;
}

.user-add{
  display: flex;
  align-items: center;
  gap: 10px;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.dialog-form div{
  display: flex;
  flex-direction: column;

}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .column {
    max-width: 100%;
  }

  .dialog {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .dashboard{
    grid-template-columns: 1fr;
  }
  .user-grid div {
    min-width: 80px;
  }

  .row-item div {
    min-width: 80px;
  }
}