.home{
    background-image: url("../assets/image/leaves-8724660.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: #fff;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.home h1{
    font-size: 10rem;
    margin: 0;
}

.home-intro{
    width: 50%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.home-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-title p{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

@media (max-width: 768px) {
    .home {
      flex-direction: column;
    }
  
    .home h1 {
      font-size: 2rem;
    }
  
    .home-intro {
      width: 100%;
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .home h1 {
      font-size: 1.5rem;
    }
  
    .home-intro {
      padding: 5px;
    }
  }