.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.nav-items{
    font-size: 14px;
    display: flex;
    gap: 20px;
}

.nav-items a{
    text-decoration: none;
    color: #333;
}

.nav-items a:hover{
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .nav-title {
      order: 1;
      margin-bottom: 10px;
    }
  
    .nav-items {
      order: 2;
      flex-direction: column;
      align-items: center;
      display: none;
    }
  
    .nav-items.active {
      display: flex;
    }
  
    .menu-toggle {
      display: block;
      cursor: pointer;
      font-size: 24px;
      order: 3;
    }
  }
  
  @media (min-width: 769px) {
    .menu-toggle {
      display: none;
    }
  }